html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* para eliminar el scroll horizontal */
    width: 100%;
    font-family: 'Poppins', sans-serif;
}


section{
    background: #150047;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 20px; */
    box-sizing: border-box;
}
/* revisar */
.center{
    width: 100%;
    display: flex;
    justify-content: center;
}
/* revisar */
.content{
    background-color: #0f6fff23;
    border: 2px solid white;
    height: 300px;
    width: 200px;
    border-radius: 12px;
    color: #000000;
    box-shadow: -3px -3px #91C9FF inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* ====== Contenedor principal */
.flex-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px; /* evita desbordes */
    height: 90vh;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    background: transparent;
}
/* ====== parte izquierda mapa */
.side-bar{
    flex:1;
    color: #252525;
    background: rgb(240, 239, 240);
    width: 50%;
    border-radius: 15px 0px 0px 15px;
    background-image: url("../img/mapa.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Descripción pequeña del preyecto */
.descripcion{
    position: relative;
    margin-top: 20px;
    font-size: 1rem;
    line-height: 1.4;
    color: white;
}
/* revisar */
.descripcion li{
    margin-bottom: 5px;
}
/* revisar */
.descripcion ul{
    margin-left: 20px;
    padding-left: 0;
}
/* ===== parte derecha LOGIN*/
.login-container{
    flex:1;
    height: 100%;
    /* min-height: 150px; */
    min-width: 100px;
    width: 50%;
    float: right;
    padding: 20px;
    background-color: #555555;
    z-index: 10;
    border-radius: 0px 15px 15px 0px;
    overflow-y: auto;
}
.login-container .titulo{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin: 0 0 10px 0;
    width: 100%;
    color: aliceblue;
}

.login-container h1{
    padding: 15px;
    color: aliceblue;
    border-radius: 10px;
    width: 100%;
    margin-left: 0%;
    text-align: center;
    font-size: 2.4rem;
}



.login-container h2{
    color: aliceblue;
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 30px;
}

.login-box{
    border-radius: 10px;
    background-color: #555555;
    border: 30px solid rgba(12 170, 12, alpha);
}

.input-group{
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.input-group label{
    font-weight: 600;
    padding: 2px;
    color: rgb(240, 239, 240);
    margin-left: 5%;
}

.label-login{
    width: 100%;
    margin-left: 0;
}

.input-group input{
    border-radius: 5px;
    border: solid 3px rgb(240, 239, 240);
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    background-color: #252525;
    color: rgb(240, 239, 240);
    width: 80%;
    margin-left:5%;
}

.input-group input:focus{
    border-color:#7441ff;
    outline: none;
    box-shadow: 0 0 0 4px rgba(102, 126, 234, 0.1);
}

.input-group select{
    border-radius: 5px;
    border: solid 3px rgb(240, 239, 240);
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    background-color: #252525;
    color: rgb(240, 239, 240);
    width: 85%;
    margin-left:5%;
}

.input-group select:focus{
    border-color:#7441ff;
    outline: none;
    box-shadow: 0 0 0 4px rgba(102, 126, 234, 0.1);
}


 .btn-login{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    color: rgb(240, 239, 240);
    border:3px solid #ffffff48;
    background-color: #0f6fff;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s;
    width: 85%;
    padding: 20px;
    margin-left:5%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.25rem;
}

.btn-login:hover{
    background-color: #0f6fffea;
} 

.informacion{
    width: 50%;
    position: absolute;
    bottom: 0;
}

.informacion p{
    width: auto;
    text-align: center;
    font-size: 0.8rem;
    padding: 0;
    font-weight: 800;
    background-color:rgb(240, 239, 240);
    border-radius: 0px 0px 0px 15px;
}

.login-box a{
    color: rgb(240, 239, 240);
    
}

.cuenta-existente{
    border-radius: 8px;
    color: rgb(240, 239, 240);
    font-size: 2rem;
    text-align: center;
    padding: 5px;
}

.input-column{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 2.5%;
}

.input-column .input-group{
    flex: 1;
    width: 100%;
}

.input-column .input-group input{
    width: 60%;
}

.input-column .input-group select{
    width: 55%;
}

/*
Layout responsivo para cualquier dispositivo
*/
@media (max-width: 900px){
    .flex-container{
        flex-direction: column;
        max-width: 95%;
    }

    .side-bar{
        height: 250px;
        border-radius: 15px 15px 0 0;
    }

    .login-container{
        border-radius: 0 0 15px 15px;
        width: 100%;
        overflow-y: visible;
    }

    .login-container .titulo{
        font-size: 2.5rem;
        width: 100%;
        margin-left: 0;
    }

    .login-container h1,
    .login-container h2{
        width: 100%;
        margin-left: 0;
    }

    .descripcion{
        position: relative;
        bottom: auto;
        margin-top: 20px;
        font-size: 1.2rem;
        color: white;
        text-align: center;
    }
}